// Grayscale and brand colors for use across Bootstrap.
$gray-dark: #222222;
$gray: #707070;
$gray-light: #B2B2B2;
$gray-lighter: #E4E4E4;
$gray-lightest: #F2F2F2;
$brand-primary: #1F4BA5;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #FFCB3C;
$brand-danger: #FE4F20;
$brand-inverse: $gray-dark;

body {
  padding-top: 60px;
}

.h5,
h5,
.h6,
h6 {
  letter-spacing: 0.1rem;
}

.h5,
.h6 {
  font-family: "Oswald", sans-serif;
}


/*
 * Navbar
 */

.navbar {
  border-radius: 0;
  border-bottom: 1px solid $gray-lighter;
}


/*
 * Display
 */

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Varela Round", sans-serif;
}