body {
  padding-top: 60px;
}

.h5,
h5,
.h6,
h6 {
  letter-spacing: 0.1rem;
}

.h5,
.h6 {
  font-family: "Oswald", sans-serif;
}


/*
 * Navbar
 */

.navbar {
  border-radius: 0;
}


/*
 * Display
 */

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Varela Round", sans-serif;
}