body {
  padding-top: 60px;
}


/* Responsive typography */

html {
  font-size: 0.875rem;
}

@media (min-width: 544px) and (max-width: 767px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.125rem;
  }
}

.h5,
h5,
.h6,
h6 {
  letter-spacing: 0.1rem;
}

.h5,
.h6 {
  font-family: "Oswald", sans-serif;
}


/* Display */

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Varela Round", sans-serif;
}


/* Navbar */

.navbar {
  border-radius: 0;
  border-bottom: 1px solid $gray-lighter;
  .nav-item {
    font-size: 1.5rem;
  }
}

.navbar-toggler {
  color: $gray-light;
}


/* Forms */

.form-control {
  background-color: $gray-lightest;
}

input {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 0.75rem!important;
}