/*
 * Search
 */

.search {
  background-color: #ccc;
  background-image: url(../i/hero.jpg);
  background-size: cover;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
}


/*
 * Download
 */

.download {
  background-color: #fff;
}

.app-preview {
  display: block;
  margin-bottom: -70px;
  overflow: hidden;
}

.button {
  display: inline-block;
}

.buy {
  background-image: url(../i/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.appstore {
  width: 135px;
  height: 40px;
  background-position: -5px -5px;
}

.googleplay {
  width: 126px;
  height: 40px;
  background-position: -5px -55px;
}


/*
 * Display
 */

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Varela Round", sans-serif;
}