/*
 * Search
 */

.search {
  background-color: #ccc;
  background-image: url(../i/hero.jpg);
  background-size: cover;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
}


/*
 * Download
 */

.download {
  background-color: #fff;
}


/*
 * Display
 */

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Varela Round", sans-serif;
}