.restaurants {
  /* Hide for mobile, show later */
   .filters {
    background: $gray-lightest;
    height: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-right: 1px solid #eee;
    font-size: 0.75em;
  }
  h2 {
    text-transform: uppercase;
  }
  h4 {
    color: $gray-light;
    font-family: "Varela Round", sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
  }
  .card {
    border-radius: 0;
    border: 0;
    .card-img-overlay {
      span {
        color: #fff;
      }
      .card-rating {
        font-family: "Oswald", sans-serif;
        font-size: 1.75rem;
        font-weight: 700;
        margin-top: -0.25rem;
      }
      .card-reviews {
        margin-left: 0.5rem;
      }
      .time {
        color: #fff;
        bottom: 0;
        i {
          color: $gray-lighter;
        }
      }
    }
    .card-title {
      color: $gray-dark;
      font-size: 1.125rem;
      letter-spacing: normal;
      span {
        color: $gray-light;
        font-size: 2em;
      }
    }
    .card-subtitle {
      font-family: "Varela Round", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: normal;
      span {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
      }
    }
  }
  @media (min-width: 768px) {}
}